@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*, body, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
.container{
    margin:0 auto;
    max-width: 375px;
    display: grid;
    justify-content: center;
    align-content: center;
}
section,
button{
    color:#fff;
    border-radius: 10px;
}
form{
    display:grid; /*submit button is a child of form and cannot use grid-column if display is block*/
}
/* input[type="radio"] + label{
    display: none;
} */
ul {
    display: flex;
    list-style: none;
}
li{
    text-align: center;
}
label {
    position: relative;
    top: -27px;
}
input[type="radio"]{
    appearance: none;
    border-radius: 50%;
    background: hsl(216, 12%, 54%);
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
input[type="radio"]::before{
    content: "";
    height: 40px;
    width: 40px;
    background: hsl(25, 97%, 53%);
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}
input[type="radio"]:checked::before {
    transform: scale(1);
  }
.star{
    background:  hsl(216, 12%, 54%);
    border-radius: 50px;
    display: flex;
    align-self: flex-start;
    padding: 10px;
    margin-bottom: 22px;
}
section{
    background: hsl(213, 19%, 18%);
    padding: 23px;
    display: flex;
    flex-direction: column;
}
p{
    color: hsl(217, 12%, 63%);
    margin:23px 0 33px 0;
}
.ratings{
    display: flex;
    justify-content: space-evenly;
}
button{
    background: hsl(25, 97%, 53%);
    border:0;
    border-radius: 25px;
    display: grid;
    grid-column: 1/ span 2;
    padding: 15px 0;
    margin-top: 25px;
    text-transform: uppercase;
    font-size:1rem ;
}