@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*, body, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
.container{
    margin:0 auto;
    max-width: 375px;
}
section,
button{
    color:#fff;
    border-radius: 10px;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
li{
    text-align: center;
}
label {
    position: relative;
    top: -27px;
}
input[type="radio"]{
    appearance: none;
    border-radius: 50%;
    background: hsl(216, 12%, 54%);
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
input[type="radio"]::before{
    content: "";
    height: 40px;
    width: 40px;
    background: hsl(25, 97%, 53%);
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}
input[type="radio"]:checked::before {
    transform: scale(1);
  }
.star{
    background:  hsl(216, 12%, 54%);
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 22px;
    display: inline-block;
}
section{
    background: rgb(31,35,44);
    padding: 23px;
}
p{
    color: hsl(217, 12%, 63%);
    margin:23px 0 33px 0;
}

button{
    border:0;
    padding: 15px 0;
    margin-top: 25px;
    text-transform: uppercase;
    font-size:1rem ;
    width: 100%;
}
.pill{
    border-radius: 25px;
}
.lightgrey-bg{
    background: rgb(40, 49, 60);
    display: inline-block;
}
.colour-orange-bg{
    background: hsl(25, 97%, 53%);
}
.colour-orange-text{
    color: hsl(25, 97%, 53%);
}
.p10{
    padding: 10px;
}
.mt-35{
    margin-top: 35px;
}
.mb-50{
    margin-bottom: 50px;
}
.centered{
    text-align: center;
}